<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<form th:action="@{/admin/product/add}" method="post">
    <input type="text" name="productName" placeholder="Nazwa produktu">
    <input type="number" name="stockAmount" placeholder="Stan magazynowy">
    <input type="number" step="0.01" name="price" placeholder="cena">
    <select th:name="productType">
        <option th:each="pt:${productTypes}" th:value="${pt.name()}" th:text="${pt.polishName}"></option>
    </select>
    <button>Dodaj produkt</button>
</form>

</body>
</html>