<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Błąd</title>
</head>
<body>
<h2>Niestety wystąpił błąd</h2>
<p th:text="${exception}"></p>
</body>
</html>