<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1 th:text="${'Cze! '+@userContextHolder.getUserLoggedIn()}"></h1>
<
<a href="/products">Produkty</a>

</body>
</html>