<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/products}" method="get">
    <input type="text" th:value="${queryValue}" name="query">
    <select th:name="productType">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:each="pt:${productTypes}" th:value="${pt.name()}"
                th:text="${pt.polishName}" th:selected="${selectedProductType eq pt.name()}"></option>
    </select>
    <button>Szukaj</button>
</form>

<table border="5px" width="25%">
    <tr>
        <td>Id</td>
        <td>Nazwa Produktu</td>
        <td>Stan magazynowy</td>
        <td>Cena</td>
        <td>Typ produktu</td>
    </tr>
    <tr th:each="product : ${productsList}">
        <td th:text="*{product.id}"></td>
        <td>
            <a th:href="@{/admin/product/}+*{product.id.toString()}">
                <span th:text="*{product.productName}"></span>
            </a>
        </td>
        <td th:text="*{product.stockAmount}"></td>
        <td th:text="*{product.price}"></td>
        <td th:text="*{product.productTypeValue}"></td>
    </tr>
</table>
</body>
</html>