<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
<form th:action="@{/register}" method="post" th:object="${userRegistrationDTO}">
    <input type="text" th:field="*{firstName}" placeholder="Imię">
    <span th:errors="*{firstName}"></span>
    <input type="text" th:field="*{lastName}" placeholder="Nazwisko">
    <span th:errors="*{lastName}"></span>
    <input type="text" th:field="*{birthDate}" placeholder="Data Urodzeina">
    <input type="text" th:field="*{pesel}" placeholder="pesel">
    <span th:errors="*{pesel}"></span>
    <input type="text" th:field="*{email}" placeholder="email">
    <span th:errors="*{email}"></span>
    <input type="text" th:field="*{password}" placeholder="Hasło">
    <input type="text" th:field="*{phone}" placeholder="Numer Telefonu">
    <input type="text" th:field="*{userAddressDTO.zipCode}" placeholder="Kod Pocztowy">
    <input type="text" th:field="*{userAddressDTO.city}" placeholder="Miasto">
    <select th:field="*{userAddressDTO.country}">
        <option th:value="''" th:text="Wybierz"></option>
        <option th:each="country: ${countries}" th:value="${country.symbol}" th:text="${country.plName}"></option>
    </select>
    <input type="text" th:field="*{userAddressDTO.street}" placeholder="Ulica">

    <input type="checkbox" th:field="*{preferEmails}">
    <button>Wyślij</button>

</form>
</body>
</html>