<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dobrze, że jesteś</title>
</head>
<body>
<p th:text="'Dziękujemy za rejestrację ' + ${userEmail}"></p>
</body>
</html>